<form method="GET" action="">
    <fieldset>
        <label for="instance">Get your emojos from:</label>
        <input type="text" name="i" id="instance" value="<%= instance %>"/>
        <input type="submit" value="Fetch!"/>
    </fieldset>
</form>
