<%- include('layout/header'); -%>
<%- include('partials/lookup'); -%>

<hr/>
<h2>Oh snap!</h2>
<p><code><%= instance %></code> doesn't seem to be a working Mastodon instance.</p>

<%- include('layout/footer'); -%>