<html>
<head>
    <title>Emojo Lookup</title>
    <link rel="stylesheet" href="/css/normalize/normalize.css">
    <link rel="stylesheet" href="/css/milligram/milligram.css">
    <link rel="stylesheet" href="/css/responsive-grid.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="icon" href="/img/favicon.png">
</head>
<body>

<div class="container">

    <h1>Emojo Lookup</h1>
